<!doctype html>
<HTML style="height:100%;">
<HEAD>
	<?php require $_SERVER["DOCUMENT_ROOT"]."/php/etc/meta.php"; ?>
	<script type="text/javascript" src="/js/member.js"></script>	
</HEAD>

<body style="height:100%;overflow:hidden;margin:0" bgcolor="8fdef2">
<div style='width:100%;height:100%;text-align:right;'>
	
	<img src= "/img/logo.jpg" width="62px" height="44px" align="left">
	<a 
	href="javascript:void();" 
	onclick="fnmypage()" 
	style= "font-family:굴림; font-size: 12px; margin-right:10px" > myPage</a>
	<a 
	href="javascript:void();" 
	onclick="fnLogout()" 
	style= "font-family:굴림; font-size: 12px; margin-right:10px" > logout </a>
	<br>
	<table align="left" style= "font-family:Dotum; font-size: 12px; font-weight: bold;">
			<tr>
				<td style='width:80px; text-align:center'>
					<a href='/php/board/homeleft.html' target='leftholl'> home </a> 
				</td>
				<td style='width:80px; text-align:center'>
					<a href='/kongChart/left.html' target='leftholl'> basics </a> 
				</td>					
				<td style='width:80px; text-align:center'> premium </td>							
				<td style='width:80px; text-align:center'> special </td>
				<td style='width:80px; text-align:center'> 
				<a 
					href="javascript:void();" 
					onclick="fnBo()" 
					style= "font-family:굴림; font-size: 12px; margin-right:10px" > 게시판  </a> </td>		
			</tr>
		</table>
</div>
		
	
</body>
</html>