@charset "utf-8";
/* layout */
.emptyLineTopBig {height:14px;box-sizing:border-box;width:100%;clear:both}
.emptyLineMediumBig {height:10px;box-sizing:border-box;width:100%;clear:both}
.emptyLineSmallBig {height:8px;box-sizing:border-box;width:100%;clear:both}
.emptyLineMedium {height:4px;box-sizing:border-box;width:100%;clear:both}
.emptyLineSmall {height:2px;box-sizing:border-box;width:100%;clear:both}
.space {width:30px;height:100%;float:left}
.stateArea{background-color:white;width:100%;height:11%;border:1px solid lightgrey;border-inline-end-style:dashed;box-sizing:border-box;}
.areaLeft{background-color:white;width:33.33333%;float:left;height:50%;box-sizing:border-box;padding-left:0px;padding-right:5px;}
.areaLeft div:first-child {background-color:white;width:100%;height:100%;overflow:auto;border:1px solid lightgrey;box-sizing:border-box}
.areaCenter{background-color:white;width:33.33333%;float:left;height:50%;box-sizing:border-box;padding-left:5px;padding-right:5px;}
.areaCenter div:first-child {background-color:white;width:100%;height:100%;overflow:auto;border:1px solid lightgrey;box-sizing:border-box}
.areaRight{background-color:white;width:33.33333%;float:left;height:50%;box-sizing:border-box;padding-left:5px;}
.areaRight div:first-child {background-color:white;width:100%;height:100%;overflow:auto;border:1px solid lightgrey;box-sizing:border-box}
.areaFull{background-color:white;width:33.33333%;float:left;height:50%;box-sizing:border-box;padding-left:0px;padding-right:0px;}
.areaFull div:first-child {background-color:white;width:100%;height:100%;overflow:auto;border:1px solid lightgrey;box-sizing:border-box}
/* component */
.button {cursor:hand;width:60px;height:28px;background-color: #414141;color:#fff;border-radius: 6px;font-size: 12px;}
.labelTable {border-spacing:0;width:100%;height:100%;}
.labelTd {font-size:12px; width:10%;background-color:#a7a7a7; color:#fff; text-align:center;vertical-align:middle;}
.contensTd {font-size:12px;background-color:#fff; color:#000; text-align:center;vertical-align:middle;}
.checkbox {width:14px;height:14px}
/* graphic */
.circle{width: 14px;height: 14px;background-color: #000;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;margin: auto;display:inline-block;}