@charset "utf-8";
@import url("default.css");

/* layout */
html{ }
#wrap { position:relative; top:0; left:0; float:left; width:100%; min-width:1024px; height:100%; overflow:hidden; }
#nav_top { position:relative; float:left; width:100%; min-width:1024px; z-index:10}
#container_wrap { position:relative; top:0; left:0; float:left; position:relative; width:100%; min-width:1024px; height:100%;}
#contents_f { position:absolute; top:0; right:0; float:left; width:100%; min-width:1024px; height:100%;  background-color: #f4f4f4; overflow:hidden;}
#nav_left { position:relative; top:0; left:0; width:200px; height:100%; min-height:440px;}
#nav_btm { position:relative; bottom:0; float:left; width:100%; min-width:1024px; z-index:10}




/* nav_top open */
#nav_top .section_open { float:left; width:100%; height:88px; background:url("../images/bg_navT.png") left top repeat-x; overflow:hidden;}
#nav_top .section_open .gnb { float:left; height:88px; padding-left: 20px;}
#nav_top .section_open .gnb ul li{ float:left; position:relative; width:67px; height:88px; font-color: #364650; margin:10px 8px 0 0; cursor:pointer;text-align:center;}
#nav_top .section_open .gnb ul li a{width:51px;height:60px;display:block;overflow:hidden; margin:6px auto 0;}
#nav_top .section_open .gnb ul li:hover img,
#nav_top .section_open .gnb ul li.selected img{margin:-60px 0 0 0;}
#nav_top .section_open .gnb ul li:hover,
#nav_top .section_open .gnb ul li.selected {background:url("../images/gnb_bg.png") center top no-repeat;}




/* nav_top close */
#nav_top .section_close { float:left; width:100%; height:58px; background:url("../images/bg_navT_s.png") left top repeat-x; overflow:hidden; display:none;}
#nav_top .section_close .gnb { float:left; height:58px; padding-left: 20px;}
#nav_top .section_close .gnb ul li{ float:left; position:relative; width:67px; height:54px; font-color: #364650; margin:11px 8px 0 0; cursor:pointer;}
#nav_top .section_close .gnb ul li a{width:51px;height:30px;display:block;overflow:hidden; margin:5px auto 0;}
#nav_top .section_close .gnb ul li:hover img,
#nav_top .section_close .gnb ul li.selected img{margin:-30px 0 0 0;}
#nav_top .section_close .gnb ul li:hover,
#nav_top .section_close .gnb ul li.selected {background:url("../images/gnb_bg_s.png") center top no-repeat;}

#nav_top .tap_open{ float:left; width:100%; height:18px; border-top:1px solid #596c7a; border-bottom:1px solid #596c7a; cursor:pointer; display:none; background:url("../images/arr_b.png") center no-repeat #566976;}
#nav_top .tap_close{ float:left; width:100%; height:18px; border-top:1px solid #596c7a; border-bottom:1px solid #596c7a; background-color:#566976; cursor:pointer; background:url("../images/arr_t.png") center no-repeat #566976;}




/* contents_f */
#contents_f .section { float:left; position:relative; width:100%; min-width:880px; height:100%;  background-color:#fff; overflow:hidden;}
#contents_f .section .inner_contents1 {background:#fff; width: 100%; height: 8%; border:1px solid #bfbfbf; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}			
#contents_f .section .inner_contents2 {background:#fff; width: 100%; height: 46px; padding:10px 10px 10px 14px; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}			
#contents_f .section .inner_contents3 {background:#fff; width: 100%; height: 92%; padding:0px 10px 0px 14px; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

#contents_f .section .inner_contents1 h2{float:left;  font-size:18px;  padding:23px 0 0 20px; color:#4a4a4a;}
#contents_f .section .inner_contents1 p{float:right;  font-size:14px;  padding:24px 24px 0 0; color:#8f8f8f;}
#contents_f .section .inner_contents2 .option_box .option_list{position:relative;}
#contents_f .section .inner_contents2 .option_box .option_list ul h2{float:left; margin:6px 0 0 30px; color:#3bb7cd; font-weight:bold; height:20px; position:relative; font-size:14px; font-family:'Dotum';}
#contents_f .section .inner_contents2 .option_box .option_list ul{padding-right:10px; float:right; font-size:14px; text-align:right; font-size:14px; font-family:'Dotum';}
#contents_f .section .inner_contents2 .option_box .option_list li{float:left; position:relative; width:80px; height:20px; padding-top:6px;}
#contents_f .section .inner_contents2 .option_box .option_list li input{margin:2px 5px 0 0;}
#contents_f .section .inner_contents2 .inner{min-width: 1024px; position:relative;}
#contents_f .section .inner_contents2 .select_contents select{float:left; width:260px; height:25px; margin:0 1% 0 0; border-radius:4px; border:2px solid #3bb7cd; font-size:14px; font-family:'Dotum';}
#contents_f .section .inner_contents2 .place select{float:left; width:260px; height:30px; margin:0 1% 0 0; border-radius:4px; border:2px solid #3bb7cd; font-size:14px; font-family:'Dotum';}
#contents_f .section .inner_contents2 .place img{padding: 2px 0 0 10px; }
#contents_f .section .inner_contents2 .start_end input{float:left; height:24px; width: 260px; border-radius:4px; border:2px solid #3bb7cd; font-family:'Dotum';}
#contents_f .section .inner_contents2 .start_end form{float:left;  font-size:12px; color:#4a4a4a; padding-right:10px;}
#contents_f .section .inner_contents2 .start_end p{float:left; padding-left:10px; margin-top: 8px; font-size:14px; color:#4a4a4a;}
#contents_f .section .inner_contents2 .start_end img{float:left; margin-top: 6px; margin-right: 20px;}
#contents_f .section .inner_contents3 .ex_img {background:#ecf2f6; width: 100%; height: 97%; border:1px solid #bfbfbf; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}






/* table {border-collapse: collapse; text-align: center; width:100%; height:100%;} */
th {padding: 0; display:table-cell; vertical-align:middle; height:24px;}
.table_common {border-collapse: collapse; text-align: center; width:100%; height:100%;}
.th_common, .td_common {padding: 0; display:table-cell; vertical-align:middle; height:36px;}

.table span {font-size: 14px; margin-bottom: 40px;}
.tb{border-collapse:collapse; border-spacing:0; width:100%; height:0;}
.tb td{font-family:'Dotum'; font-size:14px; border:1px solid #e4e4e4; position: relative;}
.tb img{height:28px;}
.tb .tb03 p{vertical-align:middle; color: #fff;}
.tb .tb04 p{vertical-align:middle; position: relative; color: #fff;}
.tb th{font-family:'Dotum'; font-size:14px; border:1px solid #e4e4e4;}
.tb .tb01, .tb02 { font-size:13px; background-color:#a7a7a7; color:#fff; text-align:center;}
.tb .tb03_b{font-weight:bold; color:#4a4a4a; font-size:14px; text-align:center;}
.tb .tb03{font-size:13px; vertical-align:middle; text-align:center;}
.option_box{width: 100%; height:8%; min-width:1024px;}
.option_box .option_list{position:relative;}
.option_box .option_list ul{position:relative; padding-top:6px; padding-right:50px; float:left; font-size:14px; text-align:right; font-family:'Dotum';}
.option_box .option_list li{float:left; padding-right:30px; position:relative; width:100px; height:20px;}
.option_box .option_list ul h2{float:left; margin:3px 0 0 16px; color:#3bb7cd; font-weight:bold; font-size:14px; position:relative; font-family:'Dotum';}







#container { position:relative; top:0; left:0; float:left; position:relative; width:100%; min-width:1024px; height:100%;}
.inner { width:100%; min-width:1024px; height:100%; background-color: #f4f4f4; overflow:hidden;}
.svg1 {float: left; width: 79%; margin-right: 2%; height: 600px;}
.svg1 .con { width: 100%; height: 92%; border: solid 1px #c5c5c5;}
.svg1 .blank { width: 100%; height: 2%;}
.svg1 .state { width: 100%; height: 5%; border: solid 1px #c5c5c5;box-sizing:border-box}
.state .txt p {background-color: #c5c5c5; text-align: center; font-size: 14px; color: #fff;height:100%;}
.txt {float: left; width: 10%;}
/* .circle {float: right; width: 90%;} */
.cir01{
 margin: 8px 42px 8px 8px;
 float: left;
 width: 14px;
 height: 14px;
 background-color: #1b88d9;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
 border-radius: 50px;}
.cir01 p, .cir02 p, .cir03 p{float: left; width: 200px;padding-left:20px }

 .cir02{
 margin: 8px 80px 8px 8px;
 float: left;
 width: 14px;
 height: 14px;
 background-color: #1b88d9;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
 border-radius: 50px;}

 .cir03{
 margin: 8px 80px 8px 8px;
 float: left;
 width: 14px;
 height: 14px;
 background-color: #f32828;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
 border-radius: 50px;}

.svg2 {float: right; width: 19%; height: 600px;}
.btn {width: 100%; height: 30%;}
.btn a{width:100%;height:14px; display: inline-block; text-align: center; border-radius: 6px; font-size: 12px; margin-bottom: 8px; padding: 10px 0; color: #fff; background-color: #414141; }
.btn li{list-style-type: none; text-align: center;}
.table {width: 100%; height: 400px;}
.table1, .table2, .table3 {float: left; width: 32%; height: 50%; padding-top: 2%;}
.table2 {padding: 2%;}
.inner .table span {font-size: 14px; margin-bottom: 40px; height: 48%;}
.inner .tb{border-collapse:collapse; float:left; border-spacing:0; width:100%; height:100%;}
.inner .tb td{font-family:'Dotum'; font-size:14px; border:1px solid #e4e4e4; position: relative;}
.inner .tb img{height:28px;}
.inner .tb .tb03 p{vertical-align:middle; color: #fff;}
.inner .tb .tb04 p{vertical-align:middle; position: relative; color: #fff;}
.inner .tb th{font-family:'Dotum'; font-size:14px; border:1px solid #e4e4e4;}
.inner .tb .tb01, .tb02 { font-size:13px; background-color:#a7a7a7; color:#fff; text-align:center;}
.inner .tb .tb03_b{font-weight:bold; color:#4a4a4a; font-size:14px; text-align:center;}
.inner .tb .tb03{font-size:13px; vertical-align:middle; text-align:center;}
.inner .option_box{width: 100%; height:8%; min-width:1024px;}









/* nav_left */
#nav_left .section { position:relative; float:left; width:200px; height:100%;  background-color: #e2e6e9; left top repeat;}
#nav_left .section .title{background-image: -moz-linear-gradient( 90deg, rgb(39,50,58) 0%, rgb(68,82,94) 50%, rgb(39,50,58) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(39,50,58) 0%, rgb(68,82,94) 50%, rgb(39,50,58) 100%);
 	background-image: -ms-linear-gradient( 90deg, rgb(39,50,58) 0%, rgb(68,82,94) 50%, rgb(39,50,58) 100%);
    box-shadow: 0px 2px 2px 0px rgb( 0, 0, 0 ); height: 50px;}
#nav_left .section .title p {font-family:'Dotum'; font-size: 18px; text-align:center; color:#fff; padding-top:17px;}
#nav_left .section .side_btn{padding:20px 20px 0 18px;}
#nav_left .section .side_btn p{text-align:center; font-size:14px; float:left; color:#e9e9e9; font-family:'Dotum'; margin-top:12px; width: 162px; height:43px;}
#nav_left .section .side_btn p:hover{color:#66e2ed; font-size:14px; font-weight:bold; width: 162px; height:43px;} 
#nav_left .section .side_btn .btn01, .btn02, .btn03, .btn04, .btn05, .btn06, .btn07, .btn08, .btn09{background:url(../images/btn_01.png); width:162px; height:43px; margin-bottom:12px;}




/* nav_btm */
#nav_btm .section .btm_bar{ float:left; width:100%; height:27px; line-height:27px; background:url("../images/btm_btmbg.png") left top repeat-x;}
#nav_btm .section .btm_bar .f_inner1 {float:left; position:relative; margin-top: 6px; height:28px; font-size:14px; color:#fff; font-family:'Dotum';}
#nav_btm .section .btm_bar .f_inner1 .fl{ position:relative; float:left; margin-top: -1px; padding-left: 10px; font-family:'Dotum'; color:#fff; font-size:14px;}
#nav_btm .section .btm_bar .f_inner1 img{padding-top: 2px;}
#nav_btm .section .btm_bar .f_inner3 .f2{ position:relative; float:right; margin-top:6px; font-family:'Dotum'; color:#fff; font-size:14px;}
#nav_btm .section .btm_bar .f_inner2 .info {margin-right:12px; position:relative; width:64px; height:18px; margin-top:5px; background: url(../images/btn_logout.png); float:right;}	
#nav_btm .section .btm_bar .f_inner2 .info p{ float:right; margin:1px 12px 0 0; font-family:'Dotum'; color:#2b2b2b; font-weight: bold; font-size:13px;}



/* login */
#contents_f .section.bg_main {background:#5d5d5d;}
#contents_f .section.bg_main .pop_login { position:absolute; top:50%; left:50%; width:554px;
box-shadow:0 2px 10px rgba(0,0,0,.5);
	-moz-box-shadow:0 2px 10px rgba(0,0,0,.5);
	-webkit-box-shadow:0 2px 10px rgba(0,0,0,.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background:#e5e5e5;
	background: linear-gradient(to top, #e5e5e5 0%, #d2d2d2 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);
	background: -ms-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);
	background: -moz-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);	}
#contents_f .section.bg_main .pop_login.ver_align {margin:-200px 0 0 -315px;}
#contents_f .section.bg_main .pop_login h1{ font-size:28px; color:#3bb7cd; line-height:46px; font-weight: bold; text-align: center; padding-top:12px;}
#contents_f .section.bg_main .pop_login hr{ border-bottom:1px solid #fff; height:0px;}
#contents_f .section.bg_main .pop_login .pop_contents{ margin:0 20px 10px 20px; padding:10px; float:left;}
#contents_f .section.bg_main .pop_login .pop_contents .input_log{ float:left;}
#contents_f .section.bg_main .pop_login .pop_contents .input_log p{ float:left; width:100%; }
#contents_f .section.bg_main .pop_login .pop_contents .input_log p span{ float:left; width:140px; font-weight: bold; font-size:22px; color:#737373; line-height:62px;}
#contents_f .section.bg_main .pop_login .pop_contents .input_log p input{ float:right; width:320px; font-size:18px; height:24px; padding:10px; line-height:30px; margin-top:5px;}
#contents_f .section.bg_main .pop_login .pop_contents .input_log p.btn_log{ width:100%; margin-top:10px;
border:1px solid #1a8fa4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:#6ecfe0;
	background: linear-gradient(to top, #6ecfe0 0%, #32abc1 100%);
	background: -o-linear-gradient(top, #6ecfe0 0%, #32abc1 100%);
	background: -ms-linear-gradient(top, #6ecfe0 0%, #32abc1 100%);
	background: -moz-linear-gradient(top, #6ecfe0 0%, #32abc1 100%);
	background: -webkit-linear-gradient(top, #6ecfe0 0%, #32abc1 100%);	}
#contents_f .section.bg_main .pop_login .pop_contents .input_log p.btn_log span{ font-size:20px; margin-top:8px; text-align:center; font-weight: bold; color:#fff; width:492px; height:46px; line-height:40px; cursor:pointer;}



/*--popup--*/
#mask {  
	opacity: 0.3;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}

.pop-layer .pop-container {height:100%; width:100%;}
/* .pop-layer {display:none; position: absolute; top: 50%; left: 50%; width: 600px; height:400px; z-index: 1000; */
.pop-layer {
	box-shadow:0 2px 10px rgba(0,0,0,.5);
	-moz-box-shadow:0 2px 10px rgba(0,0,0,.5);
	-webkit-box-shadow:0 2px 10px rgba(0,0,0,.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background:#e5e5e5;
	background: linear-gradient(to top, #e5e5e5 0%, #d2d2d2 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);
	background: -ms-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);
	background: -moz-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);	}	


.pop-layer .btn-r {text-align:right; margin: -15px 20px 0 0;}
a.cbtn {display:inline-block; background: url(../images/close.png) no-repeat; width: 17px; height: 17px;}	
a.cbtn:hover {background: url(../images/close.png) no-repeat; width: 17px; height: 17px;}

.pop_title{height:10%; width:100%; margin:0 auto; position:relative; z-index:10; border-bottom:1px solid #cccccc;}
.pop_title p{font-family:'Dotum'; color:#4a4a4a; font-size: 14px; text-align: center; padding-top:13px; }
.pop_title .close a { float: right; }

.pop_contents{height:80%; position:relative; z-index:10;}
.pop_contents .inner{height:100%; width:100%;}
.pop_contents .inner .in01{width: 35%; height: 14%; float: left;}
.pop_contents .inner .in01 p{ float:left; font-family:'Dotum'; font-size:12px;  padding:20px 0 0 30px; color:#4a4a4a;}
.pop_contents .inner .in01 .select01{margin: 10px 0 0 10px; float:left; width:100px; height:28px; border-radius:2px; border:1px solid #d3d3d3; font-family:'Dotum';}
.pop_contents .inner .in02{width: 65%; height: 14%; float: right;}
.pop_contents .inner .in02 form{float:left; font-family:'Dotum'; font-size:12px; height:30px; color:#4a4a4a;padding-right: 20px;}
.pop_contents .inner .in02 form input{border-radius:2px; border:1px solid #d3d3d3;  width:100px; height:26px; margin-top: 10px;}
.pop_contents .inner .in02 p{float:left; font-family:'Dotum'; font-size:12px;  padding:20px 0 0 20px; color:#4a4a4a;}
.pop_contents .inner .in02 img{padding:8px 0 0 6px;}


.pop_contents .inner .tb{border-collapse:collapse; border-spacing:0;}
.pop_contents .inner .tb td{font-family:'Dotum'; font-size:14px; border:1px solid #e4e4e4; height: 40px; position: relative;}
.pop_contents .inner .tb th{font-family:'Dotum'; font-size:14px; border:1px solid #e4e4e4; height: 34px;}
.pop_contents .inner .tb .tb01{ font-size:13px; background-color:#3bb7cd; color:#fff; text-align:center;}
.pop_contents .inner .tb .tb02{font-weight:bold; background-color: #fff; color:#4a4a4a; font-size:14px; text-align:center;}
.pop_contents .inner .tb .tb03{font-size:13px; vertical-align:middle; text-align:center; background-color: #fff;}
.pop_contents .inner .tb .tb03 p{vertical-align:middle; color: #fff;}
.pop_contents .inner .tb .tb03 input{height:24px; width: 100px; border-radius:2px; border:1px solid #3bb7cd; font-family:'Dotum';}
.pop_contents .inner .tb .tb03 form{font-family:'Dotum'; font-size:14px; color:#4a4a4a;}
.pop_contents .inner .tb .tb03 form p{float: left;  color:#4a4a4a; font-family:'Dotum'; font-size:14px;}


.pop_contents .inner .in03{float: left; width: 100%; height: 82%;}
.pop_btn{height:10%; width:100%; margin: 0 auto;}
.pop_btn .btn_list{width: 486px; height: 26px; margin: auto;}
.pop_btn .btn_list a{position: relative; width:112px; height:26px; float:left; margin-left: 40px; background:url(../images/pop_btn.png) no-repeat;}
.pop_btn .btn_list p{text-align:center; margin-top: 4px; font-size:14px; color:#e9e9e9; font-family:'Dotum'}








.pop_contents  .in01{width: 35%; height: 14%; float: left;}
.pop_contents  .in01 p{ float:left; font-family:'Dotum'; font-size:12px;  padding:20px 0 0 30px; color:#4a4a4a;}
.pop_contents  .in01 .select01{margin: 10px 0 0 10px; float:left; width:100px; height:28px; border-radius:2px; border:1px solid #d3d3d3; font-family:'Dotum';}
.pop_contents  .in02{width: 65%; height: 14%; float: right;}
.pop_contents  .in02 form{float:left; font-family:'Dotum'; font-size:12px; height:30px; color:#4a4a4a;padding-right: 20px;}
.pop_contents  .in02 form input{border-radius:2px; border:1px solid #d3d3d3;  width:100px; height:26px; margin-top: 10px;}
.pop_contents  .in02 p{float:left; font-family:'Dotum'; font-size:12px;  padding:20px 0 0 20px; color:#4a4a4a;}
.pop_contents  .in02 img{padding:8px 0 0 6px;}


.pop_contents  .tb{border-collapse:collapse; border-spacing:0;}
.pop_contents  .tb td{font-family:'Dotum'; font-size:14px; border:1px solid #e4e4e4; height: 40px; position: relative;}
.pop_contents  .tb th{font-family:'Dotum'; font-size:14px; border:1px solid #e4e4e4; height: 34px;}
.pop_contents  .tb .tb01{ font-size:13px; background-color:#3bb7cd; color:#fff; text-align:center;}
.pop_contents  .tb .tb02{font-weight:bold; background-color: #fff; color:#4a4a4a; font-size:14px; text-align:center;}
.pop_contents  .tb .tb03{font-size:13px; vertical-align:middle; text-align:left; background-color: #fff;padding-left:40px}
.pop_contents  .tb .tb03 p{vertical-align:middle; color: #fff;}
.pop_contents  .tb .tb03 input{height:24px; width: 100px; border-radius:2px; border:1px solid #3bb7cd; font-family:'Dotum';}
.pop_contents  .tb .tb03 form{font-family:'Dotum'; font-size:14px; color:#4a4a4a;}
.pop_contents  .tb .tb03 form p{float: left;  color:#4a4a4a; font-family:'Dotum'; font-size:14px;}


.pop_contents  .in03{float: left; width: 100%; height: 82%;}