#data {margin-bottom:20px;}
#data ul {padding:0;margin:0;clear:both;list-style:none;}
#data ul li {float:left;width:80px;height:30px;text-align:center;border-bottom:1px solid #888;line-height:30px;}
#data ul.data-header li {background-color:#ddd;border-top:1px solid #888;}

